<div floating-shopping-cart></div>

<!-- <div class="from_price">
    <h2 style="display:inline">From: $<strong ng-bind="charter.object.From_Price"></strong></h2>
</div> -->

<a href="javascript:void(0)" title="{{charter.object.Headline}}" ng-click="navigate_charter(charter.object.ID)">
    <h2><span class="light">Charter Trip</span> <span ng-bind="charter.object.Headline"></span></h2>
</a>

<div class="group clearfix">
    <div class="g2 first">

        <div ng-if="destination" class="destination" style="margin-bottom:10px">
            <span class="light">at</span>
            <strong ng-bind="destination.object.DestName"></strong>,
            <strong ng-bind="destination.object.Region"></strong>,
            <strong ng-bind="destination.object.State"></strong>,
            <strong ng-bind="destination.object.Country"></strong>
        </div>

        <div class="feature" ng-bind-html="charter.species | nice_species | trusted_html"></div>
        <div class="feature" ng-bind-html="charter.features | nice_features | trusted_html"></div>

        <!-- <div class="feature" ng-if="charter.object.Species_Comments">Species Comments: <strong ng-bind="charter.object.Species_Comments"></strong></div> -->
        <div class="feature" ng-if="charter.object.Tournament == '1'">Tournament Start: <strong ng-bind="charter.object.Season_Start_Date | nice_date"></strong></div>
        <div class="feature" ng-if="charter.object.Tournament == '1'">Tournament End: <strong ng-bind="charter.object.Season_End_Date | nice_date"></strong></div>
        <div class="feature" ng-if="charter.object.Tournament == '0'">Season Start: <strong ng-bind="charter.object.Season_Start_Date | annual_date"></strong></div>
        <div class="feature" ng-if="charter.object.Tournament == '0'">Season End: <strong ng-bind="charter.object.Season_End_Date | annual_date"></strong></div>

        <div> &nbsp; </div>

        <p ng-bind-html="charter.object.Description | trusted_html"></p>
        <p ng-if="charter.object.Provided_Comments">Comments: <span ng-bind="charter.object.Provided_Comments"></span></p>

    </div> <!-- .g2.first -->
    <div class="g2 last" auto-height additional-height="30">

        <div ng-if="charter.images && charter.images.length">
            <div big-images source="charter.images"></div>
        </div>

    </div> <!-- .g2.last -->
</div> <!-- /group -->

<form class="availability_form" ng-submit="see_availability()">
    <label> Select Trip Date: </label><input required ng-required type="text"
            ui-date-format="yy-mm-dd" ui-date="dateOptions"
            ng-model="availability.dt" class="datepicker" />
    <!-- <label> Fishermen: </label>--> <input type="text" maxlength="2" required class="fishermen" ng-model="availability.men" style="display:none" value="1" />
    <button type="submit" ng-disabled="!availability.dt || !availability.men">See Availability</button>
</form>


<div class="table-responsive">
    <table class="table table-border">
        <thead>
            <tr>
                <th>Vessel</th>
                <th style="text-align:center" >Start</th>
                <th style="text-align:center" >Duration</th>
                <th style="text-align:center" >Fisherman</th>
                <th style="text-align:right">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="avail in charter.availability">
                <td><a href="javascript:void(0)" title="{{avail.Vessel_Name}}" ng-click="navigate_vessel(avail.VID)" ng-bind="avail.Vessel_Name"></a></td>
                <td style="text-align:center" ng-bind="avail.Start_Time | nice_time"></td>
                <td style="text-align:center" ng-bind="avail.Duration_Hours + ' hours'"></td>
                <td style="text-align:center" ng-bind="avail.Shares"></td>
                <td style="text-align:right" ng-bind="avail.Price | nice_price"></td>
            </tr>
        </tbody>
    </table>
</div>
