<div id="wahroo-shopping-cart" ng-if="hasItemsInCart()">
    <h3 style="margin:0px;padding:0px"  ng-if="!cart_collapsed">Your booking</h3>
    <div class="inner" ng-if="!cart_collapsed">

        <div ng-repeat="(avail_id, shares) in cartItems"
             ng-if="shares"
             ng-controller="ShoppingCartItemController">
            <hr />
            <div style="position:relative;">

                <div style="position:absolute; top:-8px; right:0px">
                    <button class="btn-destroy" ng-click="destroy(avail_id)">x</button>
                </div>
                <div style="width:90%;">
                    <strong ng-bind="getCharterName(avail_id)"></strong> on
                    <span ng-bind="getVesselName(avail_id)"></span>
                </div>

                <div style="text-align:center;font-size:11px;border-top:1px #bbb dashed; border-bottom: 1px #bbb dashed">
                    starts
                    <span ng-bind="getStartDate( avail_id ) | nice_date"></span>
                    at <span ng-bind="getStartTime( avail_id ) | nice_time"></span>
                    <br />and lasts for <span ng-bind="getDuration( avail_id )"></span> hours.
                </div>
                <div style="text-align:center;font-weight:bold">
                    <span ng-bind="shares"></span> fishermen
                </div>
            </div>

        </div>
    </div>

    <div ng-if="hasItemsInCart()">
        <hr  ng-if="!cart_collapsed" />
        <table style="width:100%">
            <tr>
                <td>Trip Total:</td>
                <td style="text-align:right;font-weight:bold" ng-bind="getSubTotal() | nice_zero_price"></td>
            </tr>
            <tr ng-if="!cart_collapsed">
                <td>Deposit:</td>
                <td style="text-align:right;font-weight:bold" ng-bind="getDepositTotal() | nice_zero_price "></td>
            </tr>
            <tr  ng-if="!cart_collapsed">
                <td>Transaction Fee:</td>
                <td style="text-align:right;font-weight:bold" ng-bind="getTransactionFee() | nice_zero_price"></td>
            </tr>
        </table>

        <hr />
        <div style="text-align:center">
            <button ng-click="checkout()">Book Now</button>
        </div>
        <div class="clearfix">
            <div style="float:left;font-size:10px;line-height:23px;">
                Powered by Wahroo
            </div>
            <div class="cart-collapse">
                <a href="javascript:void(0)" ng-if="!cart_collapsed" ng-click="collapseCart(1)">&laquo; COLLAPSE</a>
                <a href="javascript:void(0)" ng-if="cart_collapsed" ng-click="collapseCart(0)">&laquo; SHOW ORDER</a>
            </div>

        </div>
    </div>
</div>
